<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Potluck Energy</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/pace/0.5.5/pace.min.js"></script>
  <script src="//use.typekit.net/ezs3fwk.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <link rel="shortcut icon" href="/pe.ico">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
{{{body}}}
<!-- scripts -->
<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js" data-main="js/app"></script>
</body>
</html>