  <div class="container">
    <div class="row about-header">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div class="h2">About Potluck Energy</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="about-list">
          <ul>
            <li><a>Mission</a></li><!--
            <li><a>Investment</a></li>
            <li><a>FAQs</a></li>
            <li><a>Why Potluck Energy?</a></li>
            <li><a>Our Team</a></li>-->
          </ul>
        </div>
      </div>

      <div class="col-md-8">
        <div class="text-container">
          <p>Potluck Energy is introducing an innovative way of delivering clean energy through community solar installations. By bringing together investors, property owners and local residents in a local-scale solar cooperative, Potluck Energy is making electricity generated from solar available to all residential and public utility customers by:</p>

          <ul>
            <li>Offering the price of electricity generated from Community Solar lower than the regular price on customer’s electric bill</li>
            <li>Having eliminated all the barriers associated with rooftop or property ownership</li>
            <li>Making it possible to become a consumer of solar energy without investing in solar panels</li>
          </ul>

          <p>Our mission is to make solar energy accessible to everyone, facilitating the adoption of solar as an economically viable power solution.</p>
        </div>
      </div>
    </div>
  </div>