  

  <header id="header" class="header"></header>

  <div id="main" class="main"></div>

  <footer id="footer" class="footer"></footer>

  <div id="modal" class="modal" style="display:none;">
    <div id="modal-screen" class="modal-screen"></div>
  </div>

