

  <div class="tagline">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="hero">This is the tagline or attention-grabbing blurb for<br> <span>Potluck Energy</span></div>
          <div class="call-to-action">
            <a href="/projects" id="view-projects" class="button-md button-green view-projects">View Projects</a>
            <a id="signup" class="button-md button-blue signup">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container"><div class="divider"></div></div>
  


  <div class="three-parties">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-sm-4">
          <div class="title">
            <i class="fa fa-flash energy"></i>
            Discounted electricity
          </div>
          <div class="description">
            This is some text outlining the role of the consumer in Potluck Energy’s innovative process.
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="title">
            <i class="fa fa-money money"></i>
            Favorable return
          </div>
          <div class="description">
            This is some text outlining the role of the investor in Potluck Energy’s innovative process.
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="title">
            <i class="fa fa-building building"></i>
            Building owner
          </div>
          <div class="description">
            This is some text outlining the role of the building owner in Potluck Energy’s innovative process.
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="divider"></div>


  <div class="demo">
    <div class="container">
      <img src="../media/demo.png">
    </div>
  </div>
