    
    <div class="login-static container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="label-lg">Sign in to your account</div>
          <form action="/login" method="post">
            <div>
              <label class="label-sm">Email:</label>
              <input type="email" name="email" placeholder="Email" />
              <br/>
            </div>
            <div>
              <label class="label-sm">Password:</label>
              <input type="password" name="password" placeholder="Password" />
            </div>
            <div>
              <input type="submit" class="button-md button-blue" value="Submit" />
            </div>
          </form>
        </div>
      </div>
    </div>
  
    