    <div class="login-static container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="label-lg">Create an account</div>
          <form action="/signup" method="post">

            <div class="row">
              <div class="col-md-6">
                <label class="label-sm">First name:</label>
                <input type="text" name="firstName" placeholder="First name" />

                <label class="label-sm">Last name:</label>
                <input type="text" name="lastName" placeholder="Last name" />

                <label class="label-sm">Email:</label>
                <input type="email" name="email" placeholder="Email" />

                <label class="label-sm">Password:</label>
                <input type="password" name="password" placeholder="Password" />
              </div>

              <div class="col-md-6">
                <label class="label-sm">Zip code:</label>
                <input type="text" name="zip" placeholder="Zip code" />

                <label class="label-sm">Township:</label>
                <input type="text" name="township" placeholder="Township" />
              </div>
            </div>

            <input type="submit" class="button-md button-green" value="Signup" />

          </form>
        </div>
      </div>
    </div>