// sass --watch static.scss:static.css

@import 'common.scss';

//
//  Colors + .scss shit
//
$blue: #46AAFF;
$green: #2BDE73;
$slate: #303A44;
$modal: rgba(48,58,68,0.9); /* #303A44 a=90% */
$grey: #8C98A5;
$cloud: #EBF1F4;
$stormy: darken($cloud, 20%);
$white: rgba(255,255,255,0.97);
$red: #FF382C;
.shadow {
  box-shadow: 0px 2px 2px 0px #DFE8EE;
}
$radius: 3px;
.grey { color: #8C98A5; }


html,
body {
  background: white;
}


.landing-header {
  position: fixed;
  width: 100%;
  background: $white;
  border-bottom: 1px solid $cloud;
  -webkit-user-select: none;
  z-index: 50;

  .container { padding: 0; }

  .landing-nav {
    float: left;
    width: 33%;
    li {
      line-height: 56px;
      margin-right: 20px;

      a {
        color: $grey;
        font-size: 15px;
        font-weight: 600;
        -webkit-transition: all 0.2s;
      }
      a:hover {
        color: $stormy;
      }
      a:active { color: $grey; }
    }
  }

  .logo {
    float: left;
    width: 33%;
    background: url(../media/pe.png) center no-repeat;
    background-size: 33px 36px;
    height: 56px;
  }

  .landing-login {
    float: right;
    width: 33%;
    a {
      float: right;
      border-radius: 3px;
      border: 1px solid $cloud;
      font-size: 15px;
      font-weight: 600;
      color: $grey;
      padding: 3px 10px 3px 10px;
      margin: 12px 0 12px 0;
      -webkit-transition: all 0.2s;
    }
    a:hover {
      color: $stormy;
    }
    a:active {
      color: $grey;
      border-color: $stormy;
    }
  }
}



//
//  Main
//
.main {
  padding: 60px 0 0 0;
  z-index: 40;
}


.tagline {
  .container { padding: 70px 0 60px 0; }
}

  .hero {
    font-size: 36px;
    line-height: 38px;
    font-weight: 600;
    text-align: center;
    color: $slate;
    margin: 0 auto;

    span {
      border-bottom: 4px solid $cloud;
      -webkit-transition: border-color 0.5s;
    }
  }

  .call-to-action {
    text-align: center;
    padding-top: 60px;
  }

    .view-projects {
      margin-right: 8px;
    }


.divider {
  height: 1px;
  width: 100%;
  background: $cloud;
}
.divider-narrow {
  @extend .divider;
  width: 75px;
  margin: 0 auto;
}


.three-parties {
  .container { padding: 70px 0 70px 0; }

  .title {
    font-size: 18px;
    font-weight: 600;
    color: $grey;
    margin-bottom: 10px;
  }

  .description {
    font-size: 16px;
    font-weight: 400;
    color: $grey;
  }
}

  .money { font-size: 16px; color: #F9C126; margin-right: 20px; }
  .energy { font-size: 16px; color: #F6ED50; margin-right: 20px; }
  .building { font-size: 16px; color: #E99221; margin-right: 20px; }


.demo {
  padding: 60px 0 80px 0;

  img {
    width: 100%;
    margin: 0 auto; }
}



//
//  Login
//
.login {
  height: 100%;
  width: 100%;
  z-index: 1000;
  overflow: hidden;

  .panel {
    position: absolute;
    height: 412px;
    width: 300px;
    top: 50%;
    left: 50%;
    margin-top: -306px;
    margin-left: -150px;
    background: white;
    box-shadow: none;
  }

  .divider {
    position: absolute;
    height: 1px;
    width: 100%;
    background: $cloud;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
.logo-center {
  height: 45px;
  background: url(../media/pe.png) no-repeat center;
  background-size: 34px 36px;
}
.login-note {
  font-size: 14px;
  color: $grey;
  padding: 30px 0 15px 0;
}
.login-form {
  input {
    font-size: 18px;
  }
  input[type=email] {
    background: white;
    line-height: 40px;
    padding-left: 0;
    padding-top: 20px;
  }
  input[type=password] {
    background: white;
    line-height: 40px;
    padding-left: 0;
    padding-top: 20px;
  }
  input[type=submit] {
    width: 100%;
    margin: 30px 0 10px 0;
  }
  .remember {
    text-align: center;
    input { margin-right: 5px; }
    label {
      color: $grey;
      font-size: 14px;
    }
  }
}



//
//  Logout
//
.logout-message {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding: 15% 0 15% 0;
}



//
//  About
//
.about-header {
  margin: 0 0 22px 0;
  border-bottom: 1px solid $cloud;
  padding: 5px 0 22px 0;

  .h2 { color: $grey; margin-left: -5px; }
}

.about-list {
  position: fixed;

  ul li {
    display: block;
  }
  a {
    font-size: 14px;
    line-height: 28px;
    color: $grey;
    -webkit-transition: 0.2s all;

    &:hover {
      color: $slate;
    }
  }

  .title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}

.text-container {

  p {
    margin: 0;
    margin-bottom: 1em;
  }
}








//
//  Media queries
//

@media (max-width: 768px) {
  .divider {
    width: calc(100%+40px);
    margin-left: 0;
    margin-right: 0;
  }

  .hero {
    font-size: 26px;
    line-height: 30px;
  }

  .three-parties {
    .col-md-4 {
      padding: 60px 20px 60px 20px;
    }
    .col-md-4:first-child,
    .col-md-4:last-child {
      padding: 0px 20px 0px 20px;
    }
  }

  .login {
    .panel {
      margin-top: -206px;
    }
  }

  .logout-message {
    padding: 35% 0 35% 0;
  }

  .about-header {
    .h2 { color: $grey; margin-left: -13px; }
  }

  .about-list {
    position: relative;
    margin-bottom: 20px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid $cloud;
  }

}

@media (max-width: 992px) {
  


  .about-header {
    .h2 { color: $grey; margin-left: -13px; }
  }

  .about-list {
    position: relative;
    margin-bottom: 20px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid $cloud;
  }

}












