  <div class="container project">
    <div class="row">

      <div class="col-md-4">
        <div class="panel">
          <div class="map-img">
            <img src="../media/woburn.png">
            <div class="name-of-project h2"><span><%= name %></span></div>
          </div>
          <div class="info">
            <div class="location">
              <div class="label-sm">Location</div>
              <div class="h3"><%=location%> <span class="loadzone">(NEMA)</span></div>
            </div>
            <div class="solar-developer">
              <div class="label-sm">Solar Developer</div>
              <div class="h3"><%=developer%></div>
            </div>
            <div class="land-owner">
              <div class="label-sm">Land Owner</div>
              <div class="h3"><%=landOwner%></div>
            </div>
            <div class="project-size">
              <div class="label-sm">Size</div>
              <div class="h3"><%=size%></div>
            </div>
          </div>
          
          <div class="divider"></div>

          <div class="funding">
            <div class="label-sm">Funding <span class="days-remaining">25 days left</span></div>
            <div class="funding-bar">
              <div class="funding-bar-bg"></div>
              <div class="funding-bar-progress"></div>
              <div class="row">
                <div class="col-md-4 col-xs-4 col-sm-4">Investment</div>
                <div class="col-md-4 col-xs-4 col-sm-4">0%</div>
                <div class="col-md-4 col-xs-4 col-sm-4">$<%=investmentCurrent%>k/<%=investmentGoal%>k</div>
              </div>
            </div>
            <div class="funding-bar">
              <div class="funding-bar-bg"></div>
              <div class="funding-bar-progress-green"></div>
              <div class="row">
                <div class="col-md-4 col-xs-4 col-sm-4">Consumption</div>
                <div class="col-md-4 col-xs-4 col-sm-4">0%</div>
                <div class="col-md-4 col-xs-4 col-sm-4">$<%=consumptionCurrent%>k/<%=consumptionGoal%>k</div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-8">
        <div class="panel">
          <ul class="tab-bar heading">
            <li class="tab current"><span id="select-overview">Overview</span></li>
            <li class="tab"><span id="select-technical">Technical</span></li>
            <li class="tab"><span id="select-environmental">Environmental</span></li>
            <li class="tab"><span id="select-investment">Investment</span></li>
          </ul>
          <div class="divider"></div>

          <!-- content -->
          <div id="project-content">
          </div>

        </div>
      </div>

    </div>
  </div>