  <div class="project-overview">

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="label-lg">Schematic</div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="table-right"><span id="view-schematic" data-img="schematic.jpg" class="button-sm button-green">View <i class="fa fa-file-photo-o"></i></span></div>
      </div>
    </div>
    <div class="divider"></div>

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="label-lg">Yield</div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="table-right">7%</div>
      </div>
    </div>
    <div class="divider"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="label-lg">Production (year, MWh)</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 chart production-chart"></div>
    </div>

    

  </div>