  <div class="project-techinal">

    <div class="row">
      <div class="col-md-6">
        <div class="label-lg">Schematic</div>
      </div>
      <div class="col-md-6">
        <div class="table-right"><span id="view-schematic" data-img="schematic.jpg" class="button-sm button-green">View <i class="fa fa-file-photo-o"></i></span></div>
      </div>
    </div>
    <div class="divider"></div>

    <div class="row">
      <div class="col-md-6">
        <div class="label-lg">Angle of Roof</div>
      </div>
      <div class="col-md-6">
        <div class="table-right">0 degrees</div>
      </div>
    </div>
    <div class="divider"></div>

    <div class="row">
      <div class="col-md-6">
        <div class="label-lg">Size of Roof</div>
      </div>
      <div class="col-md-6">
        <div class="table-right">XXX sq. ft</div>
      </div>
    </div>
    <div class="divider"></div>

    <div class="row">
      <div class="col-md-6">
        <div class="label-lg">Modules</div>
      </div>
      <div class="col-md-6">
        <div class="table-right">380 x 345w</div>
      </div>
    </div>
    <div class="divider"></div>

    <div class="row">
      <div class="col-md-6">
        <div class="label-lg">AC Power</div>
      </div>
      <div class="col-md-6">
        <div class="table-right">120 kWac</div>
      </div>
    </div>
    <div class="divider"></div>

    <div class="row">
      <div class="col-md-6">
        <div class="label-lg">Annual AC Energy</div>
      </div>
      <div class="col-md-6">
        <div class="table-right">~158 MWh</div>
      </div>
    </div>
    <div class="divider"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="label-lg">Production (year, MWh)</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 chart production-chart"></div>
    </div>

  </div>






