  <div class="project-techinal">

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="label-lg">Yield</div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="table-right">7%</div>
      </div>
    </div>
    <div class="divider"></div>

    <div class="row">
      <div class="col-md-6">
        <div class="label-lg">Green Certificates</div>
      </div>
      <div class="col-md-6">
        <div class="table-right">100 per year</div>
      </div>
    </div>
    <div class="divider"></div>

    <div class="row">
      <div class="col-md-6">
        <div class="label-lg">Payback</div>
      </div>
      <div class="col-md-6">
        <div class="table-right">7 years</div>
      </div>
    </div>
    <div class="divider"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="label-lg">Cash Flow</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 chart cf-chart"></div>
    </div>

  </div>