  <div class="project-overview">

    <div class="row">
      <div class="col-md-6">
        <div class="label-lg">Schematic</div>
      </div>
      <div class="col-md-6">
        <div class="table-right"><span class="grey">View</span> <i class="fa fa-file-photo-o"></i></div>
      </div>
    </div>
    <div class="divider"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="label-lg">Production (year, MWh)</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 chart production-chart"></div>
    </div>
    <div class="divider"></div>

    

  </div>