  <div class="container project">
    <div class="row">

      <div class="col-md-4">
        <div class="panel">
          <div class="heading h2">Name of Project</div>
          <div class="divider"></div>
          <div class="info">
            <div class="location">
              <div class="label-sm">Location</div>
              <div class="h3">Woburn, MA</div>
            </div>
            <div class="solar-developer">
              <div class="label-sm">Solar Developer</div>
              <div class="h3">Solar Design Associates</div>
            </div>
            <div class="land-owner">
              <div class="label-sm">Land Owner</div>
              <div class="h3">Land Owner</div>
            </div>
          </div>
          
          <div class="divider"></div>

          <div class="funding">
            <div class="label-sm">Funding</div>
            <div class="funding-bar">
              <div class="progress-label">25% [$25k/100k]</div>
              <div class="progress-left" style="width:25%;"></div>
              <div class="progress-right" style="width:75%;"></div>
            </div>
            <div class="funding-bar-blue">
              <div class="progress-label">5% [$5k/100k]</div>
              <div class="progress-left" style="width:5%;"></div>
              <div class="progress-right" style="width:95%;"></div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-8">
        <div class="panel">
          <ul class="tab-bar heading">
            <li class="tab current"><a id="select-overview">Overview</a></li>
            <li class="tab"><a id="select-technical">Technical</a></li>
            <li class="tab"><a id="select-environmental">Environmental</a></li>
            <li class="tab"><a id="select-investment">Investment</a></li>
          </ul>
          <div class="divider"></div>

          <!-- content -->
          <div id="project-content">
          </div>

        </div>
      </div>

    </div>
  </div>