<div class="savings">

  <div class="row push-down-20">
    <div class="col-md-12">
      <div class="label-md">Enter your annual energy consumption, the percentage you'd like to allocate to solar, and the prepay period.</div>
      <div class="divider"></div>
    </div>
  </div>
  

  <!-- Annual energy -->
  <div class="row">
    <div class="col-md-6 label-lg">
      Annual energy consumption
    </div>
    <div class="col-md-6">
      <input id="savings-energy" type="text" placeholder="kWh per year">
    </div>
  </div>
  <div class="divider"></div>

  <!-- Percentage -->
  <div class="row">
    <div class="col-md-6 label-lg">
      Percentage of usage
    </div>
    <div class="col-md-6">
      <input id="savings-percentage" type="text" placeholder="% of consumption">
    </div>
  </div>
  <div class="divider"></div>

  <!-- Period -->
  <div class="row">
    <div class="col-md-6 label-lg">
      Prepay period
    </div>
    <div class="col-md-6">
      <input id="savings-period" type="text" placeholder="For how many years?">
    </div>
  </div>
  <div class="divider"></div>

  <!-- *Submit -->
  <div class="row">
    <div class="col-md-6 label-lg"></div>
    <div class="col-md-6">
      <div id="savings-submit" class="button-md button-blue">Get Plan</div>
    </div>
  </div>
  <div class="divider"></div>

</div>