    <div class="row">
      <a href="/"><div id="brand" class="brand"></div></a>
      <nav class="nav">
        <ul>
          <li><a id="logout" class="link" href="/">Initiate Project</a></li>
          <li><a id="projects" class="link" href="/projects">Projects</a></li>
          <li><a id="dashboard" class="link" href="/dashboard">Dashboard</a></li>
          <li><a id="logout" class="link" href="/logout"><i class="button-md fa fa-power-off signout"></i></li></a>
        </ul>
      </nav>
      <span id="open-nav" class="open-nav">
        <i class="fa fa-bars"></i>
      </span>
    </div>
    <div class="row">
      <nav class="mobile-nav">
        <ul>
          <li><a id="logout" class="link mobile-link" href="/">Initiate Project</a></li>
          <li><a id="projects" class="link mobile-link" href="/projects">Projects</a></li>
          <li><a id="dashboard" class="link mobile-link" href="/dashboard">Dashboard</a></li>
          <li><a id="logout" class="link mobile-link" href="/logout"><i class="button-md fa fa-power-off signout"></i></li></a>
        </ul>
      </nav>
    </div>