    <div class="row">
      <a href="/"><div id="brand" class="brand"></div></a>
      <nav class="nav">
        <ul>
          <li><a id="about" class="link">About <i class="fa fa-caret-down"></i></a></li>
          <li><a id="knowledge" class="link">Knowledge <i class="fa fa-caret-down"></i></a></li>
          <li><a id="login" class="link" href="/login">Login</a></li>
          <li><a id="signup" class="button-md button-blue" href="/signup">Sign Up</a></li>
        </ul>
      </nav>
    </div>
    <div class="row">
      <div id="about-menu" class="menu" style="display:none;">
        <ul>
          <li><a>Option one</a></li>
          <li><a>Option two</a></li>
          <li><a>Option three</a></li>
        </ul>
      </div>
      <div id="knowledge-menu" class="menu" style="display:none;">
        <ul>
          <li><a>Option one</a></li>
          <li><a>Option two</a></li>
          <li><a>Option three</a></li>
        </ul>
      </div>
    </div>