      
      <div id="initiate" class="initiate container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="panel">

              <div class="h2 heading">Initiate a project</div>

              <p>After you submit your project, we will soon review it for quality. We are glad to help make your clean energy ideas come true.</p>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="panel">

              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Land type</div>
                </div>
                <div class="col-md-8">
                  <select>  
                    <option value="">Select...</option>
                    <option value="rooftop">Rooftop</option>
                    <option value="ground">Ground</option>
                  </select>
                </div>
              </div>

              <div class="divider"></div>

              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Approximate area</div>
                </div>
                <div class="col-md-8">
                  <input type="text" placeholder="Area in square feet">
                </div>
              </div>

              <div class="divider"></div>

              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Land ownership</div>
                </div>
                <div class="col-md-8">
                  <select>  
                    <option value="">Select...</option>
                    <option value="owner">I own the land</option>
                    <option value="public">Public: the government owns it</option>
                    <option value="private">Private: someone else owns it</option>
                  </select>
                </div>
              </div>

              <div class="divider"></div>

              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Secured?</div>
                </div>
                <div class="col-md-8">
                  <select>  
                    <option value="">Select...</option>
                    <option value="yes">Yes, the land is secured</option>
                    <option value="no">No, the land is not secured</option>
                  </select>
                </div>
              </div>

              <div class="divider"></div>

              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Description</div>
                </div>
                <div class="col-md-8">
                  <textarea placeholder="Tell us about the project"></textarea>
                </div>
              </div>

              <div class="divider"></div>

              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Location</div>
                </div>
                <div class="col-md-8">
                  <input type="text" placeholder="Address">
                </div>
              </div>

              <div class="divider"></div>

              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Video (optional)</div>
                </div>
                <div class="col-md-8">
                  <input type="text" placeholder="http://youtube.com/...">
                </div>
              </div>

              <div class="divider"></div>

              <div class="row">
                <div class="col-md-8 col-md-offset-4">
                  <input type="submit" class="button-md button-disabled" value="Submit">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>