      
      <div id="initiate" class="initiate container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="panel">

              <div class="h2 heading">Initiate a project</div>

              <p>After you submit your project, we will soon review it for quality. We are glad to help make your clean energy ideas come true.</p>

            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="panel">

              <!-- name -->
              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Project name</div>
                </div>
                <div class="col-md-8">
                  <input id="project-name" type="text" placeholder="Project name">
                </div>
              </div>
              <div class="divider"></div>

              <!-- location -->
              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Location</div>
                </div>
                <div class="col-md-8">
                  <input id="project-location" type="text" placeholder="Address">
                </div>
              </div>
              <div class="divider"></div>

              <!-- land type -->
              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Land type</div>
                </div>
                <div class="col-md-8">
                  <input id="project-land-type" type="text" placeholder="Roof, ground, etc.">
                </div>
              </div>
              <div class="divider"></div>

              <!-- developer -->
              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Developer</div>
                </div>
                <div class="col-md-8">
                  <input id="project-developer" type="text" placeholder="Developer">
                </div>
              </div>
              <div class="divider"></div>

              <!-- land owner -->
              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Land ownership</div>
                </div>
                <div class="col-md-8">
                  <input id="project-land-owner" type="text" placeholder="Land owner">
                </div>
              </div>
              <div class="divider"></div>

              <!-- size -->
              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Size</div>
                </div>
                <div class="col-md-8">
                  <input id="project-size" type="text" placeholder="Size">
                </div>
              </div>
              <div class="divider"></div>

              <!-- investment goal -->
              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Investment goal</div>
                </div>
                <div class="col-md-8">
                  <input id="project-investment-goal" type="text" placeholder="Investment goal">
                </div>
              </div>
              <div class="divider"></div>

              <!-- consumption goal -->
              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Consumption goal</div>
                </div>
                <div class="col-md-8">
                  <input id="project-consumption-goal" type="text" placeholder="Consumption goal">
                </div>
              </div>
              <div class="divider"></div>

              <!-- end date -->
              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Ending date</div>
                </div>
                <div class="col-md-8">
                  <input id="project-end-date" type="date" placeholder="Ending date">
                </div>
              </div>
              <div class="divider"></div>

              <!-- schematic url -->
              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Schematic url</div>
                </div>
                <div class="col-md-8">
                  <input id="project-schematic-url" type="text" placeholder="Schematic url">
                </div>
              </div>
              <div class="divider"></div>

              <!-- roof angle -->
              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Roof angle</div>
                </div>
                <div class="col-md-8">
                  <input id="project-roof-angle" type="text" placeholder="Roof angle">
                </div>
              </div>
              <div class="divider"></div>

              <!-- area -->
              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Approximate area</div>
                </div>
                <div class="col-md-8">
                  <input id="project-area" type="text" placeholder="Area in square feet">
                </div>
              </div>
              <div class="divider"></div>


              <!-- number of modules -->
              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Number of modules</div>
                </div>
                <div class="col-md-8">
                   <input id="project-num-modules" type="text" placeholder="Number">
                </div>
              </div>
              <div class="divider"></div>

              <!-- module watts -->
              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Watts per module</div>
                </div>
                <div class="col-md-8">
                   <input id="project-module-watts" type="text" placeholder="Watts">
                </div>
              </div>
              <div class="divider"></div>

              <!-- ac power -->
              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">AC power</div>
                </div>
                <div class="col-md-8">
                   <input id="project-ac-power" type="text" placeholder="AC power">
                </div>
              </div>
              <div class="divider"></div>

              <!-- annual power -->
              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Annual power</div>
                </div>
                <div class="col-md-8">
                   <input id="project-annual-power" type="text" placeholder="Annual power">
                </div>
              </div>
              <div class="divider"></div>

              <!-- description -->
              <div class="row">
                <div class="col-md-4">
                  <div class="label-lg input-label">Description</div>
                </div>
                <div class="col-md-8">
                  <textarea id="project-description" placeholder="Tell us about the project"></textarea>
                </div>
              </div>

              <div class="divider"></div>

              <div class="row">
                <div class="col-md-8 col-md-offset-4">
                  <input id="initiate-project" type="submit" class="button-md button-blue" value="Submit">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>