  <style>html,body { background: white; }</style>

  <header class="landing-header">
    <div class="container">
      <div class="row">
        <nav class="col-md-4 landing-nav">
          <ul>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
        <div class="col-md-4 logo"></div>
        <div class="col-md-4 landing-login"><a>Login</a></div>
      </div>
    </div>
  </header>


  <div class="tagline">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="hero">This is the tagline or attention-grabbing blurb<br> for <span>Potluck Energy</span></div>
          <div class="call-to-action">
            <a class="button-md button-blue">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container"><div class="divider"></div></div>
  


  <div class="three-parties">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="title">
            <i class="fa fa-flash energy"></i>
            Discounted electricity
          </div>
          <div class="description">
            This is some text outlining the role of the consumer in Potluck Energy’s innovative process.
          </div>
        </div>

        <div class="col-md-4">
          <div class="title">
            <i class="fa fa-money money"></i>
            Favorable return
          </div>
          <div class="description">
            This is some text outlining the role of the investor in Potluck Energy’s innovative process.
          </div>
        </div>

        <div class="col-md-4">
          <div class="title">
            <i class="fa fa-building building"></i>
            Building owner
          </div>
          <div class="description">
            This is some text outlining the role of the building owner in Potluck Energy’s innovative process.
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="divider"></div>


  <div class="demo">
    <div class="container">
      <img src="../media/demo.png">
    </div>
  </div>


  <div class="divider"></div>


   <footer id="footer" class="footer" style="padding:20px 0 20px 0;">
    <div class="container">
      <div class="center-content">
        <ul>
          <li>&copy; 2014</li>
          <li><a href="/legal">Legal</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </footer>