      
      <div id="login" class="login">
        <div class="panel">
          <div class="logo-center"></div>
          <div class="divider"></div>
          <div class="login-note">Please login to access your account:</div>
          <div class="divider"></div>
          <form class="login-form">
            <input type="email" class="login-email" placeholder="Email">
            <div class="divider"></div>
            <input type="password" class="login-password" placeholder="Password">
            <div class="divider"></div>
            <input type="submit" class="button-lg button-blue" value="Login">
            <div class="remember">
              <input id="remember" type="checkbox"><label for="remember">Remember me</label>
            </div>
          </form>
        </div>
      </div>