          <div class="divider"></div>
          <div class="h3">Let us know you're interested <i class="fa fa-times pull-right"></i></div>

          <form class="signup-form">
            <input id="signup-name" type="text" placeholder="Your name">
            <input id="signup-email" type="email" placeholder="Email@address.com">
            <input id="signup-zip" type="text" placeholder="Zip code">

            <div id="do-signup" class="button-md button-blue">Submit</div>
            <div class="label-sm no-spam">(No spam. Promise.)</div>
          </form>

          <div class="thanks-signup">
            Thanks!
          </div>