  <div class="dashboard-settings">
    <!-- first -->
    <div class="row">
      <div class="col-md-4">
        <div class="label-lg input-label">First name</div>
      </div>
      <div class="col-md-8">
        <input type="text" placeholder="First">
      </div>
    </div>

    <!-- last -->
    <div class="row">
      <div class="col-md-4">
        <div class="label-lg input-label">Last name</div>
      </div>
      <div class="col-md-8">
        <input type="text" placeholder="Last">
      </div>
    </div>

    <div class="divider"></div>

    <!-- email -->
    <div class="row">
      <div class="col-md-4">
        <div class="label-lg input-label">Email</div>
      </div>
      <div class="col-md-8">
        <input type="email" placeholder="name@gmail.com">
      </div>
    </div>

    <!-- password -->
    <div class="row">
      <div class="col-md-4">
        <div class="label-lg input-label">Password</div>
      </div>
      <div class="col-md-8">
        <input type="password" placeholder="Password">
      </div>
    </div>

  </div>