    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="panel">

            <div class="h2 heading">Dashboard</div>
            <div class="divider"></div>
            <ul class="list">
              <li class="list-item current"><span id="select-overview">Overview</span></li>
              <li class="list-item"><span id="select-payments">Payments</span></li>
              <li class="list-item"><span id="select-investments">Investments</span></li>
              <li class="list-item"><span id="select-settings">Settings</span></li>
              <li class="list-item"><span id="select-manage">Manage Site</span></li>
              <li class="list-item"><span href="https://www.potluckenergy.com/admin">Admin</span></li>
            </ul>

          </div>
        </div>

        <div class="col-md-8">
          <div class="panel">

            <div class="heading">
              <span id="dashboard-section">Overview</span>
            </div>
            <div class="divider"></div>

            <div id="dashboard-content"></div>

          </div>
        </div>
      </div>
    </div>