    <div class="row">
      <div class="col-md-12">
        <div class="label-sm">Manage load zones, townships, utility companies, etc.</div>
      </div>
    </div>
    <div class="divider"></div>

    <!-- load zones -->
    <div class="load-zones">
      <div class="row">
        <div class="col-md-6 label-lg">Load Zones</div>
        <div class="col-md-6">
          <div id="new-load-zone" class="button-md button-blue pull-right">New</div>
        </div>
      </div>
      <!-- new -->
      <div class="row new-load-zone">
        <div class="divider"></div>
        <div class="col-md-6">
          <input id="load-zone-name" type="text" placeholder="Load zone">
        </div>
        <div class="col-md-6">
          <div id="add-load-zone" class="button-md button-blue pull-right">Add</div>
        </div>
      </div>
      <!-- list -->
      <div class="list-load-zones">
      </div>
      
      <div class="divider"></div>
    </div>


    <!-- townships -->
    <div class="townships">
      <div class="row">
        <div class="col-md-6 label-lg">Townships</div>
        <div class="col-md-6">
          <div id="new-township" class="button-md button-blue pull-right">New</div>
        </div>
      </div>
      <!-- new -->
      <div class="row new-township">
        <div class="divider"></div>
        <div class="col-md-6">
          <input id="township-name" type="text" placeholder="Township">
        </div>
        <div class="col-md-6">
          <div id="add-township" class="button-md button-blue pull-right">Add</div>
        </div>
      </div>
      <!-- list -->
      <div class="list-townships">
      </div>

      <div class="divider"></div>
    </div>


    <!-- utility companies -->
    <div class="utility-companies">
      <div class="row">
        <div class="col-md-6 label-lg">Utility companies</div>
        <div class="col-md-6">
          <div id="new-utility-company" class="button-md button-blue pull-right">New</div>
        </div>
      </div>
      <!-- new -->
      <div class="row new-utility-company">
        <div class="divider"></div>
        <div class="col-md-6">
          <input id="utility-company-name" type="text" placeholder="Utility company">
        </div>
        <div class="col-md-6">
          <div id="add-utility-company" class="button-md button-blue pull-right">Add</div>
        </div>
      </div>
      <!-- list -->
      <div class="list-utility-companies">
      </div>

      <div class="divider"></div>
    </div>







