  <div class="dashboard-payments">
    
    <!-- credit cards -->
    <div class="row">
      <div class="col-md-12">
        <div class="label-lg">Credit Cards</div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="row">
      <div class="col-md-8">
        <input type="text" value="**** **** **** 6683">
      </div>
      <div class="col-md-4">
        <a class="button-md button-red pull-right">Delete</a>
      </div>
    </div>

    <div class="divider"></div>


    <div class="row add-new-card">
      <div class="col-md-12">
        <div class="label-lg">Add a new card</div>
      </div>
    </div>
    <div class="divider"></div>

    
    <div class="row">
      <div class="col-md-4 label-lg">Card number</div>
      <div class="col-md-8">
        <input type="text" placeholder="0000 0000 0000 0000">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 label-lg">Expiration</div>
      <div class="col-md-8">
        <input type="month">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 label-lg">CVC</div>
      <div class="col-md-8">
        <input type="text" placeholder="000">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <input class="button-md button-disabled button-full-width" type="submit" value="Add new card">
      </div>
    </div>

  </div>