    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="panel">

            <div class="h2 heading">Dashboard</div>
            <div class="divider"></div>
            <ul class="list">
              <li class="list-item current"><a id="select-overview">Overview</a></li>
              <li class="list-item"><a id="select-payments">Payments</a></li>
              <li class="list-item"><a id="select-investments">Investments</a></li>
              <li class="list-item"><a id="select-settings">Settings</a></li>
              <li class="list-item"><a id="select-manage">Manage Site</a></li>
              <li class="list-item"><a href="https://www.potluckenergy.com/admin">Admin</a></li>
            </ul>

          </div>
        </div>

        <div class="col-md-8">
          <div class="panel">

            <div class="heading">
              <span id="dashboard-section">Overview</span>
              <a id="save" class="button-md button-disabled save pull-right" data-msg="No changes have been made.">Save</a>
            </div>
            <div class="divider"></div>

            <div id="dashboard-content"></div>

          </div>
        </div>
      </div>
    </div>